$colorof: #0000FF;
body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Arial", sans-serif}
.w3-bar,h1,button {font-family: "Arial", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
th, td {
  padding: 10px;
}
.winner {
  color: green;
}
#loser
{
  color: red;
}
a {
  display: inline-block;
  border-radius: 2px;
  padding: 1px;
  margin-left: 5px;
}
a:first-child {
  margin-lef: 0px;
}
a:hover {
  text-decoration: none;
}

      h3{
        color: blue;
        padding: 10px;
        ul{
          width: 100%
          li{
            color: black;
          }
        }
      }
